requests==2.32.5
pydantic>=2.7.4
python-dotenv
setuptools
wheel
dashscope>=1.23.6
gevent~=24.11.1
tiktoken~=0.8.0
psycopg2-binary~=2.9.10
langchain-classic~=1.0.0
langchain>=0.3.26
langchain_community==0.4
langchain-mcp-adapters>=0.0.9
langchain-neo4j>=0.6.0
langchain-openai>=1.0.0
openai>=1.104.2

