a2a-sdk>=0.2.8
click>=8.1.8
fastmcp>=1.0
httpx>=0.28.1
langchain>=0.3.26
langchain-mcp-adapters>=0.0.9
langgraph>=0.4.9
mcp[cli]>=1.5.0
nest-asyncio>=1.6.0
networkx>=3.4.2
numpy>=2.2.5
pandas>=2.2.3
pydantic>=2.10.6
langchain_community>=0.3.26
requests==2.31.0
python-dotenv
setuptools
wheel
dashscope>=1.23.6
gevent~=24.11.1
tiktoken~=0.8.0
openai~=1.96.1
mem0ai~=0.1.114
langchain-openai~=0.3.28
psycopg2-binary~=2.9.10